.clickBox {
    position: absolute;
    cursor: move;
    background-color: white;
    color: black;
    box-shadow: inset -1px 0 0 black, inset 0 -1px 0 black, inset 1px 0 0 black,
      inset 0 1px 0 black;
    margin: auto;
    text-align: center;
    user-select: none;
}
  